@model IEnumerable<Model.Apartamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Apartamentos</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Nova</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdQuartos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdMoradores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTorre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdQuartos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdMoradores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTorre)
        </td>
        <td>
            <a class="btn btn-success" href="@Url.Action("Edit", new { id = item.Id })">Editar</a>
            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Excluir</a>
        </td>
    </tr>
}

</table>
